<div class="container">
  <h1 class="mt-4">Thống kê toàn quốc</h1>
  <div class="table-responsive">
    <table class="table table-hover mt-4">
        <thead class="table-primary">
          <tr>
            <th scope="col">#</th>
            <th scope="col">CCCD</th>
            <th scope="col">Họ và tên</th>
            <th scope="col">Ngày sinh</th>
            <th scope="col">Giới tính</th>
            <th scope="col">Nhóm máu</th>
            <th scope="col">Tình trạng hôn nhân</th>
            <th scope="col">Nơi đăng ký khai sinh</th>
            <th scope="col">Hộ khẩu thường trú</th>
            <th scope="col">Nơi đăng ký tạm trú</th>
            <th scope="col">Tôn giáo</th>
            <th scope="col">Quốc tịch</th>
            <th scope="col">CCCD Cha</th>
            <th scope="col">CCCD Mẹ</th>
            <th scope="col" colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          {{#each result}}
            <tr>
              <th scope="row">{{sum @index 1}}</th>
              <td>{{this.id}}</td>
              <td>{{this.ho_ten}}</td>
              <td>{{this.ngay_sinh}}</td>
              <td>{{this.gioi_tinh}}</td>
              <td>{{this.nhom_mau}}</td>
              <td>{{this.tinh_trang_hon_nhan}}</td>
              <td>{{this.noi_dang_ky_khai_sinh}}</td>
              <td>{{this.ho_khau_thuong_tru}}</td>
              <td>{{this.noi_dang_ky_tam_tru}}</td>
              <td>{{this.ton_giao}}</td>
              <td>{{this.quoc_tich}}</td>
              <td>{{this.id_cha}}</td>
              <td>{{this.id_me}}</td>
              <td><a href="/nhaplieu/{{this.id}}/edit"><i class="far fa-edit"></i></a></td>
              <td><a href="#" data-id="{{this.id}}" data-bs-toggle="modal" data-bs-target="#delete-human"><i class="far fa-trash-alt"></i></a></td>
            </tr>
          {{/each}}
        </tbody>
    </table>
  </div>
</div>

<script>
  
</script>

<!-- Modal -->
<div class="container">
  <div class="modal fade" id="delete-human" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Bạn muốn xóa bản ghi này?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Dữ liệu của bạn sẽ <strong>không</strong> thể khôi phục!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="submit-btn">Xóa</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Hủy</button>
        </div>
      </div>
    </div>
  </div>
</div>

<form id="delete-form" method="POST" action="/thongke?_method=DELETE"></form>

<script>
  document.addEventListener("DOMContentLoaded", function(){
    let modelSubmitBtn = document.getElementById('submit-btn')
    let deleteForm = document.getElementById('delete-form')
    let id;
    let exampleModal = document.getElementById('delete-human')
      exampleModal.addEventListener('show.bs.modal', function (event) {
      // Button that triggered the modal
      var button = event.relatedTarget
      // Extract info from data-bs-* attributes
      id = button.getAttribute('data-id')
    })
    modelSubmitBtn.onclick = function() {
      deleteForm.action = `/nhaplieu/${id}?_method=DELETE`
      deleteForm.submit();
    }
  });
</script>