<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<div class="container fuild">
  <div class="table-responsive">
    <div class="row">
      <label for="inputCity" class="form-label">Hộ khẩu thường trú</label>
      
      <div class="col-md-3">
        <label for="inputState" class="form-label">Tỉnh - Thành phố</label>
        <select id="tinh" class="form-select">
          <option>Choose...</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="inputState" class="form-label">Huyện - Quận</label>
        <select id="huyen" class="form-select" name="huyen">
          <!-- <option selected>Choose...</option> -->
        </select>
      </div>
      <div class="col-md-3">
        <label for="inputState" class="form-label">Xã - Phường</label>
        <select id="xa" class="form-select" >
        </select>
      </div>
      <div class="col-md-3">
        <label for="inputState" class="form-label">Xóm - Tổ</label>
        <select id="xom" class="form-select" >
        </select>
      </div>
    </div>
      <table class="table  mt-5" id="ok" style="width: 100%;text-align: center;">
          <thead class="bg-blue text-danger">
            <tr>
              <th scope="col">CCCD</th>
              <th scope="col">Họ và tên</th>
              <th scope="col">Ngày sinh</th>
              <th scope="col">Giới tính</th>
              <th scope="col">Nhóm máu</th>
              <th scope="col">Tình trạng hôn nhân</th>
              <th scope="col">Nơi đăng ký khai sinh</th>
              <th scope="col">Hộ khẩu thường trú</th>
              <th scope="col">Nơi đăng ký tạm trú</th>
              <th scope="col">Tôn giáo</th>
              <th scope="col">Quốc tịch</th>
              <th scope="col">CCCD Cha</th>
              <th scope="col">CCCD Mẹ</th>

              <th scope="col">sửa</th>
              <th scope="col">xóa</th>
            </tr>
          </thead>
          <tbody>
            <!-- {{#each result}}
            <tr>      
              <td>{{this.id}}</td>
              <td>{{this.ho_ten}}</td>
              <td>{{this.ngay_sinh}}</td>
              <td>{{this.gioi_tinh}}</td>
              <td>{{this.nhom_mau}}</td>
              <td>{{this.tinh_trang_hon_nhan}}</td>
              <td>{{this.noi_dang_ky_khai_sinh}}</td>
              <td>{{this.ho_khau_thuong_tru}}</td>
              <td>{{this.noi_dang_ky_tam_tru}}</td>
              <td>{{this.ton_giao}}</td>
              <td>{{this.quoc_tich}}</td>
              <td>{{this.id_cha}}</td>
              <td>{{this.id_me}}</td>
              <td><a href="/nhaplieu/{{this.id}}/edit"><i class="far fa-edit"></i></a></td>
              <td><a href="#" data-id="{{this.id}}" data-bs-toggle="modal" data-bs-target="#delete-human"><i class="far fa-trash-alt"></i></a></td>
            </tr>
          {{/each}} -->
          </tbody>
      </table>
      <div id="phantrang">
      </div>
  </div>
</div>
<!-- Modal -->
<div class="container">
  <div class="modal fade" id="delete-human" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Bạn muốn xóa bản ghi này?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Dữ liệu của bạn sẽ <strong>không</strong> thể khôi phục!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="submit-btn">Xóa</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Hủy</button>
        </div>
      </div>
    </div>
  </div>
</div>
<form id="delete-form" method="POST" action="/thongke?_method=DELETE"></form>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
  <script >
    // set page
       let data = JSON.parse('{{{json result}}}')
       let phantutrang=20
      let sotrangALl=Math.round(data.length/phantutrang)
      // hàm show table
    function showtable(key) {
        var content=``
        var start=(key-1)*20
        if(key==26){
        var end=key*20-1
        }
        else{
          var end=key*20
        }
      for(let i=start;i<end;i++){
        content+=`<tr>
             <td>${data[i].id}</td>
             <td>${data[i].ho_ten}</td>
             <td>${data[i].ngay_sinh}</td>
             <td>${data[i].gioi_tinh}</td>
             <td>${data[i].nhom_mau}</td>
             <td>${data[i].tinh_trang_hon_nhan}</td>
             <td>${data[i].noi_dang_ky_khai_sinh}</td>
             <td>${data[i].ho_khau_thuong_tru}</td>
             <td>${data[i].noi_dang_ky_tam_tru}</td>
             <td>${data[i].ton_giao}</td>
             <td>${data[i].quoc_tich}</td>
             <td>${data[i].id_cha}</td>
             <td>${data[i].id_me}</td>
             <td><a href="/nhaplieu/${data[i].id}/edit"><i class="far fa-edit"></i></a></td>
             <td><a href="#" data-id="${data[i].id}" data-bs-toggle="modal" data-bs-target="#delete-human"><i class="far fa-trash-alt"></i></a></td>
           </tr>`
      }
       $("#ok tbody").html(content)
      }
        // update tỉnh
        fetch("http://localhost:3000/data/tinh").then(respon=> respon.json()).then(data =>{
          data.forEach(item=>{
            $("#tinh").append(`<option data-id="${item.id}">${item.ten}</option>`)
          })
        })
         //  chọn tỉnh-thành phố
        $("#tinh").change(function(){
          var b=$("#tinh option:selected").first().data("id")
          $("#xa").html("")
          $("#xom").html("")
          fetch(`http://localhost:3000/data/huyen/${b}`).then(respon=>respon.json()).then(data =>{
            var content=``
            data.forEach(item=>{
            content+=`<option data-id="${item.id}">${item.ten}</option>`  
            })
            $("#huyen").html(content)
          })
        })
        //chọn huyện-quận
      $("#huyen").change(function(){
        $("#xom").html("")
            var c = $("#huyen option:selected").first().data("id")
          fetch(`http://localhost:3000/data/xa/${c}`)
          .then(Response=>Response.json())
          .then(data=>{
            var content=``
            data.forEach(item=>{
              content+=`<option data-id="${item.id}">${item.ten}</option>`
            })
            $("#xa").html(content)
          })
        })
        //chọn xã-tổ
        $("#xa").change(function(){
          var d=$("#xa option:selected").first().data("id")
          fetch(`http://localhost:3000/data/xom/${d}`).then(respon=>respon.json()).then(data=>{
            var content=``
            data.forEach(item=>{
              content+=`<option data-id="${item.id}">${item.ten}</option>`
            })
            $("#xom").html(content)
          })
        })
// xử lí click page
    $(document).ready(function(){ 

      for(let i=1;i<=sotrangALl;i++){
        $("#phantrang").append(`<button>${i}</button>`)
      }
      showtable(1)
      $("#phantrang").on("click", "button", function(){ 
let page = Number($(this).text())
showtable(page)
})

    })
    
  </script>
  